$mainFont: "Montserrat", sans-serif;
$secondFont: "Forum", serif;
$mainFontColor: #545454;
$accent: #004AAD;
$mainBgc: #EDECE9;
$extraBgc: #FFFFFF;
$extraBgcDark: #D6D2CF;
$figmaColor: #f5f5f5;
$trans: 250ms ease-out;